@import "utils/styles/colors";
.nav-bar {
  display: flex;

  padding: 15px 40px;
  position: sticky;
  z-index: 2;
  background: white;
  top: 0;
  justify-content: space-between;
  align-items: center;
  .logo {
    position: relative;
    color: transparent;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-blue-900;
    &::before {
      content: attr(data-text);
      position: absolute;
      color: $color-blue-900;
      width: 0;
      overflow: hidden;
      transition: 1s;
      border: 0px solid $color-blue-900;
      -webkit-text-stroke: 1px $color-blue-900;
    }
    &:hover::before {
      width: 100%;
    }
  }
  .nav-auth {
    display: flex;
    gap: 30px;
 
    
    }
    .button-in {
      font-size: 16px;
      font-weight: 500;
      padding: 8px 20px;
      border-radius: 20px;
      transition: all;
      transition-duration: 0.3s;
      background-color: white;
      color: $color-blue-900;
      border: $color-blue-900 2px solid;
      &:hover {
        border-color: $color-blue-100;
        background-color: $color-pink-100;
        color: $color-blue-100;
      }
    }
    .button-up {
      font-size: 16px;
      font-weight: 500;
      padding: 8px 20px;
      border-radius: 20px;
      transition: all;
      transition-duration: 0.3s;
      background-color: $color-blue-900;
      color: $color-pink-100;

      &:hover {
        background-color: $color-blue-100;
      }
    }
  }
 

