@import "utils/styles/colors";

input {
  height: 40px;
  width: 100%;
  padding-left: 30px;
  border-radius: 5px;
  
  &[type="password"] {
    padding-right: 10px;
  }
  &:focus {
    outline: none;
  }
}

label {
  position: relative;
  .form-icon {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
    color: $color-blue-900;
  }
  .error-name{
    font-size:12px;
    margin-top:4px;
    text-align:right;
    color: $color-error;
  }
}

button[type="submit"]{
  background-color: $color-blue-100;
  color: $color-white;
  font-weight: 500;
  padding-left: 0 !important;
  display:flex;
  justify-content:center;
  align-items:center;
  height:40px;
  border-radius:5px;
  cursor: pointer;
}
