@import "utils/styles/colors";
.update-postes {
  width: 90vw;
  height: 90vh;
  padding: 20px !important;
  .form-group-update-post {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    input[type="text"] {
      background-color: $color-light-opacity;
      height: 40px;
      border-radius: 5px;
      width: 250px;
      padding-left: 30px;
    }
    .btn-group-update-postes {
      display: flex;
      gap: 8px;
      .btn {
        padding: 4px 8px;
        border-radius: 5px;
        color: white;
        &.btn-close-update-postes {
          background-color: $color-error;
          
        }
        &.btn-save-update-postes {
          background-color: $color-light;
         
        }
        &.btn-delete-update-postes {
          border: 1px solid $color-error;
          color: $color-error;
          position: absolute;
          right: 20px;
         
        }
      }
    }
    .liste-permission {
      flex: auto;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(10, minmax(0, 1fr));
      grid-auto-columns: min-content;
      gap: 8px;
      .checkbox-liste-permission {
        display: flex;
        align-items: center;
        width: 250px;

        label {
          width: 235px !important;
          text-transform: capitalize;
        }
        input[type="checkbox"] {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
