@import "utils/styles/colors";
.liste-branche {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  .item-branche {
    background-color: $color-light-opacity;
    height: max-content;
    padding: 4px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    place-items: center;
    .titel {
      font-size: 14px;
      width: 200px;
    }
    ul {
      display: flex;
      flex: auto;
      flex-wrap: wrap;
      gap: 8px;
      .btn-ul {
        font-size: 14px;
        background: $color-light-opacity;
        padding: 2px 8px;
        border-radius: 5px;
      }
      .ferme {
        background: red;
        color: white;
      }
    }
    .btn-item-branche {
      font-size: 14px;
      border-bottom: 1px solid $color-light-opacity;

      &.delete {
        color: red;
        &:hover {
          border-bottom: 1px solid rgb(201, 0, 0);
        }
      }
      &.update {
        color: rgb(0, 162, 0);
        &:hover {
          border-bottom: 1px solid rgb(0, 162, 0);
        }
      }
    }
  }
}

.dashboard.dark {
  .btn-item-branche {
    &.delete {
      color: $color-error;
      &:hover {
        border-bottom: 1px solid $color-error;
      }
    }
    &.update {
      color: rgb(60, 223, 60);
      &:hover {
        border-bottom: 1px solid rgb(68, 223, 60);
      }
    }
  }
}
