$color-error: #ff8c98;
$color-blue-500 : #1010a1;
$color-blue-900 : #243454;
$color-blue-800 : #4b5569;
$color-blue-700 : #6a707d;
$color-blue-100 : #618685;
$color-pink-100 : #fefbd8;
$color-black:#000;
$color-white:#fff;
$color-dark:#252c38;;
$color-light:#8288c3;
$color-primary:#242961;
$color-secondary:#D0BED4;
$color-gray-100:rgb(232, 232, 232);
$color-gray-500:gray;