@import "utils/styles/colors";
.not-found {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.button-retour {
  background-color: $color-blue-900;
  padding: 10px 30px;
  border-radius: 20px;
  position: absolute;
  top: 90%;
  left: calc(50% - 60px);
  font-weight: 700;
  color: #fff;
  transition: all 0.31s;
  &:hover{
   transform: translateY(-10px);
  }
}
