@import "utils/styles/colors";
.form {
  padding: 20px 40px;
  display: grid;
  gap: 8px;
  .section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 8px;
  }
  .section-btn {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 8px;
  }
  .code-login {
    border-radius: 5px;
    border: 1px solid $color-gray-100;
    display: flex;
    justify-content: center;
    align-items: center;

    .span-text {
      font-size: 12px;
    }
    .span-text-code {
      margin-left: 8px;
      color: $color-gray-500;
    }
  }

  .label-group-time-work {
    color: $color-primary;
  }
  .input-group-time-work {
    display: grid;
    grid-template-columns: 146px 146px;
    gap: 8px;
  }
  .input-enfant {
    display: grid;
    grid-template-columns: calc(50% - 4px) calc(50% - 4px);
    gap: 8px;
  }
  .btn-add-Enfant {
    height: 40px;
    border-radius: 5px;
    color: $color-primary;
    background: $color-gray-100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-remove-enfant {
    height: 40px;
    border-radius: 5px;
    color: $color-error;
    background: $color-gray-100;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "\f00d";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }
  .btn {
    height: 40px;
    border-radius: 5px;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-save {
    background: $color-light-opacity;
    @extend .btn;
    &:hover {
      background: $color-light;
    }
  }
  .btn-delete {
    @extend .btn;
    background: $color-error;

    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
.model-team {
  .model-team-header {
    padding: 8px 8px 8px 40px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $color-gray-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .model-team-header-title {
      color: $color-primary;
    }
    button {
      &::after {
        content: "\f410";
        font-family: "Font Awesome 5 Free";
        font-size: 24px;
        padding: 0px 6px;
        font-weight: 900;
        color: red;
      }
    }
  }
}
.modal.dark {
  .model-team {
    .model-team-header {
      .model-team-header-title {
        color: white;
      }
      button {
        &::after {
          color: $color-error;
        }
      }
    }
  }
  .form {
    .label-group-time-work {
      color: white;
    }
    .btn-save {
      color: white;
    }
    .btn-delete {
      color: white;
    }
  }
}
