@import "styles/colors";
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-pink-100;
  background: -webkit-radial-gradient(
    circle,
    $color-pink-100 0%,
    $color-blue-900 100%
  );
  background: radial-gradient(circle, $color-pink-100 0%, $color-blue-900 100%);
  .content {
    background-color: $color-blue-900;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: auto;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .forgot-password{
        color: white;
        text-align: right;
        font-size: 14px;
      }
    }
    .title-form {
      color: $color-pink-100;
      font-size: 40px;
      font-weight: bold;
    }
    .sousTitle-form {
      color: rgb(207, 207, 207);
      margin-bottom: 20px;
      font-size: 14px;
    }
    .have-not-account {
      color: white;
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
    }
  }
}

