@import "utils/styles/colors";
.liste-postes-style {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  .item-liste-postes {
  
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    background-color: $color-light-opacity;
    position: relative;
    transition: scale 0.3s ease-in-out;
    &:hover {
      scale: 0.9;
    }
  }
}
