@import "utils/styles/colors.scss";
.drawer {
  &.dark {
   
    .MuiDrawer-paper {
      color: white;
      background: $color-blue-900;
    }
  }

  .drawer-content {
    width: 300px;
    padding: 8px;
  }
}
